<?xml version="1.0" encoding="UTF-8"?> 

<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd"> 
	
	<servers>  
       <server>
			<id>amfk2amsp-maven</id>
			<username>${automationlogin}</username>
			<password>${automationpassword}</password>
		</server> 
		<server>
			<id>amfk2amsp-maven-release</id>
			<username>${automationlogin}</username>
			<password>${automationpassword}</password>
		</server>
		<server>
			<id>amfk2amsp-maven-snapshot</id>
			<username>${automationlogin}</username>
			<password>${automationpassword}</password>
		 </server> 
	</servers>
	<mirrors>
		<mirror>
			<id>amfk2amsp-maven</id>
			<url>https://nexus-ott.forge.avaya.com/repository/amfk2amsp-maven/</url>
			<mirrorOf>*</mirrorOf>
		</mirror>
	</mirrors>			
</settings>  